<div id='home' class="container">
  <h1>{{ user.firstName }} {{ user.lastName }}</h1>
  <h2><a href="#/profile">{{ user.username }}</a></h2>
  <p><button class="waves-effect waves-light btn"
             ng-click="signout()">Signout </button></p>
  <h3>Riding Group</h3>
  <table class="centered striped" style="width:60%">
    <thead>
      <tr>
          <th data-field="id">Place</th>
          <th data-field="name">Username</th>
          <th data-field="price">Miles</th>
      </tr>
    </thead>
    <tr class="rider"
        ng-repeat="rider in user.ridingGroup | orderBy:'-milesSince' ">
      <td>{{ placeString($index) }}</td>
      <td>{{ rider.username }}</td>
      <td>{{ rider.milesSince }}</td>
    </tr>
  </table>
  <!-- <div class="ridingGroup">
    <div class="rider"
        ng-repeat="rider in user.ridingGroup | orderBy:'-milesSince' ">
      <div class="info">
        <div > {{ placeString($index) }}: {{ rider.username }}, {{ rider.milesSince }} </div>

      </div>
    </div>
  </div> -->
  <form name="enterRiderForm" ng-submit='addRider()'>
    <input type="text" ng-model="data.newRider" placeholder="username">
    <button class="waves-effect waves-light btn">Add Riding Partner</button>
  </form>
  <h3>Your Riding Stats</h3>
  <div>Total Miles Ridden: {{ user.totalMiles }}</div>
  <div>America Crossings: {{ user.americaCrossings }}</div>
  <div>Progress in Current Crossing:
    {{ data.progress }} / {{ AMERICA_WIDTH }}
  </div>
  <div>Add Ride</div>
  <form name="enterMilesForm" ng-submit='addMiles()'>
    <input type="number" ng-model="data.addedMiles" placeholder="miles">
    <button class="waves-effect waves-light btn">Add Ride</button>
  </form><br>
</div>
