<div id='home'>
  <h1>{{ user.firstName }} {{ user.lastName }}</h1>
  <h2><a href="#/profile">{{ user.username }}</a></h2>
  <div>Total Miles Ridden: {{ user.totalMiles }}</div><br>
  <div>America Crossings: {{ user.americaCrossings }}</div><br>
  <div>Progress in Current Crossing:
    {{ data.progress }} / {{ AMERICA_WIDTH }}</div><br>
  </div>
  <div>Add Ride</div><br>
  <form name="enterMilesForm" ng-submit='addMiles()'>
    <input type="number" ng-model="data.addedMiles">
    Miles
    <button>Add</button>
  </form>
  <br>
  <button ng-click="signout()">Signout</button>
</div>
